{
    "extends": "airbnb",
    "rules": {
        "indent": ["error", 4, {
            "SwitchCase": 1
        }],
        "comma-dangle":"off"
    },
    "globals": {
        "describe": true,
        "it": true
    }
}